<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel - Gym_Assistence</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="app-layout">

<aside class="sidebar">

        <h2>GYM</h2>

        <a th:href="@{/panel}">Panel</a>
        <a th:href="@{/usuarios}">Usuarios</a>
        <a th:href="@{/registrarUsuario}">Registrar Usuario</a>
        <a th:href="@{/productos}">Productos</a>
        <a th:href="@{/registrarProducto}">Registrar Producto</a>
        <a th:href="@{/ventas}">Ventas</a>
        <a th:href="@{/registrarVenta}">Registrar Venta</a>
        <a th:href="@{/asistencia}">Asistencia</a>
        <a th:href="@{/historial}">Historial</a>
        <a href="#" onclick="cerrarSesion(); return false;">Cerrar sesión</a>

    </aside>

    <main class="content">

        <h1>Bienvenido a Gym_Assistence</h1>

        <p>
            Selecciona una opción del menú lateral para comenzar a gestionar
            usuarios, productos, ventas y asistencia desde un solo lugar.
        </p>

    </main>

</div>

<script th:src="@{/js/main.js}"></script>

</body>
</html>
